<?xml version="1.0" encoding="utf-8" ?>
<searchBoost>
	<!--
	Note, in order for docTypeAliases to work, you must have a field called "nodeTypeAlias" set in your index, as that is what's used for checking against
	
	Example Ruleset syntax shown below.
	
	ruleSet - this is a set of rules that apply to a specific index set, you can set the following properties:
		
		indexName - the name of the indexer, taken from the "ExamineSettings.config" file, e.g. "InternalIndexer"
		
		stackBoosts - (true/false) whether boosts should stack, if true, all matching boost amounts are added together, if false (the default) then only the highest matching boost is used
		
	You may define as many ruleSets as you like. You should only have one ruleSet per index however. Each ruleSet can have any number of rules, which have the following properties:
	
		docTypeAliases - a comma separated list of DocType aliases to match, you can specify a wildcard match by entering "*" as the value
		
		nodeIds - a comma separated list of node ids to match against
		
		boostAmount - the amount to boost matching documents by
		
		boostIfNewerThan - if set to greater than 0, it will only apply the rule if the dateField you specify if within the last X days, where X is the value of this setting
		
		dateField - the name of the field that contains the date to check for boostIfNewerThan
	
	<ruleSet indexName="" stackBoosts="">
		<rule docTypeAliases="" nodeIds="" boostAmount="" boostIfNewerThan="" dateField="" />
	</ruleSet>
	-->
	<ruleSet indexName="" stackBoosts="">
		<rule docTypeAliases="" nodeIds="" boostAmount="" boostIfNewerThan="" dateField="" />
	</ruleSet>
</searchBoost>